style{font-size: 16px;}
body{background-color: lightyellow;}
h1{color: darkblue;}
h2{color: purple;}
p{color: dimgray;}
.cartoon-detail{color: darkgreen; font-weight: bold;}
#cartoon-card{background-color: lightcyan;}
